@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'MK3';
  src: url("../src/assets/fonts/Mortal\ Kombat\ 3\ Regular.ttf") format('truetype');
}

html{
    font-size: 30px;
    font-family: 'MK3';
}

.blink {
    animation-name: blinker;
    animation-iteration-count: 4;
    animation-timing-function: cubic-bezier(1.0,0);
    animation-duration: .1s;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: 4;
    -webkit-animation-timing-function: cubic-bezier(1.0,0);
    -webkit-animation-duration: .1s;
  }
   
  @keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }
   
  @-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
  }